#navigation
{
    width: 185px;
    margin-top: -17px;
}

form ol li fieldset legend
{
    cursor: hand;
}

img.image-view
{
    position: absolute;
}

#lightbox
{
    position: absolute;
    /*height: expression($("body").height() + "px");*/
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
}
