#body ul.controls
{
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 80%;
}
#body ul.controls li
{
	display: inline;
}

#body .controls a
{
	background-repeat: no-repeat;
	padding: 5px 0 0 14px;
	display: inline-block;
	border: none;
}

#body .controls a.topic { background-image: url(../../images/manage/icons/folder.gif); }
#body .controls a.article { background-image: url(../../images/manage/icons/article.gif); }
#body .controls a.attach { background-image: url(../../images/manage/icons/attach.gif); }
#body .controls a.comment { background-image: url(../../images/manage/icons/comment.gif); }

#body .controls a.new { background-position: 0 0px; }
#body .controls a.edit { background-position: 0 -18px; }
#body .controls a.remove { background-position: 0 -36px; }


