#body ul.controls
{
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 80%;
}
#body ul.controls li
{
	display: inline;
}
#body ul.controls li a
{
	background-repeat: no-repeat;
	padding: 5px 0 0 14px;
	display: inline-block;
	border: none;
}

#body ul#topic-controls li a { background-image: url(../../images/manage/icons/folder.gif); }
#body ul#article-controls li a { background-image: url(../../images/manage/icons/article.gif); }
#body ul#attach-controls li a { background-image: url(../../images/manage/icons/attach.gif); }
#body ul#comment-controls li a { background-image: url(../../images/manage/icons/comment.gif); }

#body ul.controls li a.new { background-position: 0 0px; }
#body ul.controls li a.edit { background-position: 0 -18px; }
#body ul.controls li a.remove { background-position: 0 -36px; }


