form ul {
    list-style: none;
    margin: 0 0 5px 10px;
    padding: 0;
}
form ul li {
    margin: 0;
    padding: 0;
    clear: both;
}
form ul li label {
    display: block;
    float: left;
    width: 150px;
    line-height: 2em;
}
form ul li input {
    float: left;
}
form ul li input+label {
    float: none;
    width: auto;
}

form ul li input[type=text],
form ul li input[type=password] {
    width: 25em;
}
