ul#topmenu li a.not-implemented
{
	text-decoration: line-through;
	color: #800000;
}

#contents
{
	margin-left: 250px;
}

#navigation
{
	float: left;
	width: 250px;
	margin-bottom: 1em;
}

#navigation h2
{
	margin: 0 0 0.5em 0;
}

#navigation ul
{
	margin: 0 0 1em 1.5em;
	padding: 0 0 0 0.1em;
	list-style: disc;
}

#navigation ul ul
{
	margin-left: 1.0em;
	margin-bottom: 0;
}

#navigation ul li.active a
{
	font-weight: bold;
}
#navigation ul li.active li a
{
	font-weight: normal;
}

#navigation ul li.cut a
{
	color: #d3d3d3;
}

