#body .popup-form
{
	position: absolute;
	margin: 0;
	padding: 0;
	background: #f6f6f6;
	border: 1px solid #d3d3d3;
	font-size: 90%;
	width: 16em;
	display: none;
}
#body .popup-form h3
{
	margin: 0 0 0.5em 0;
	padding: 2px 4px;
	font-size: 100%;
	background-color: #eeeeee;
	border-bottom: 1px solid #d3d3d3;
}

#body .popup-form input
{
	border: 1px solid #cccccc;
	font-size: 90%;
}

#body .popup-form ol
{
	margin: 0.5em 1em;
}
#body .popup-form ol li
{
	margin: 0.5em 0;
}

#body .popup-form ol li input
{
	width: 98%;
}

#body .popup-form ol li input.reset,
#body .popup-form ol li input.submit
{
	width: 6em;
}

#body .popup-form ol li input.reset
{
	float: right;
}

#body .popup-form ul
{
	margin: 0 0 0 2em;
	padding: 0;
}

#body .error-form
{
	background: #ffcccc;
	border-color: #800000;
}

#body .error-form p
{
	margin: 0.5em 1em;
	color: #800000;
}

#body .error-form h3
{
	color: #ffcccc;
	background: #cc0000;
	border-color: #800000;
}

ol.context-menu
{
	position: absolute;
	background: #f6f6f6;
	list-style: none;
	border: 1px solid #d3d3d3;
	margin: 0;
	padding: 0;
	display: none;
	overflow: hidden;
	min-width: 10em;
}

ol.context-menu li a
{
	display: block;
	text-decoration: none;
	border: none;
	padding: 2px 5px 2px 20px;
	background: transparent no-repeat 2px center;
	font-size: 90%;
}
ol.context-menu li a:hover
{
	background-color: #008000;
	color: white;
}
ol.context-menu li.disabled
{
	display: none;
}

ol.context-menu li.topic a { background-image: url(../../images/manage/icons/folder.gif); }
ol.context-menu li.article a { background-image: url(../../images/manage/icons/article.gif); }
ol.context-menu li.comment a { background-image: url(../../images/manage/icons/comment.gif); }
ol.context-menu li.buffer a { background-image: url(../../images/manage/icons/buffer.gif); }
ol.context-menu li.attach a { background-image: url(../../images/manage/icons/attach.gif); }
ol.context-menu li.group a { background-image: url(../../images/manage/icons/group.gif); }
ol.context-menu li.user a { background-image: url(../../images/manage/icons/user.gif); }
ol.context-menu li.tag a { background-image: url(../../images/manage/icons/tag.gif); }

ol.context-menu li.new a { background-position: 0 -0px; }
ol.context-menu li.edit a { background-position: 0 -18px; }
ol.context-menu li.remove a { background-position: 0 -36px; }

ol.context-menu li.copy a { background-position: 0 -0px; }
ol.context-menu li.cut a { background-position: 0 -18px; }
ol.context-menu li.paste a { background-position: 0 -36px; }

ol.context-menu li.separator
{
	border-top: 1px solid #d3d3d3;
	margin-top: 0.1em;
}
ol.context-menu li.separator a
{
	margin-top: 0.1em;
}

a.menu-activator
{
	background: url(../../images/darr.gif) no-repeat bottom center;
	padding-left: 5px;
	margin-left: 0.1em;
}
a.menu-activator:hover
{
	background-image: url(../../images/darri.gif);
}
