form
{
	width: 95%;
}
form ol
{
	list-style: none;
	margin: 0;
	padding: 0;
}

form ol li
{
	margin-bottom: 1em;
}

form ol li label
{
	width: 10em;
	float: left;
}

form ol li textarea,
form ol li input
{
	/*margin-left: 10em;*/
}

form ol li textarea
{
	width: 80%;
}

form ol li input#title
{

}

form ol li input,
form ol li textarea,
form ol li select
{
	border: 1px solid #cccccc;
}
