/* common {{{ */
body
{
	margin: 0 auto;
	padding: 0;
	width: 60%;
}
/* }}} common */

/* header {{{ */
#wrapper
{
	border: 1px #d3d3d3;
	border-style: none solid;
}

#header, #footer
{
	font-family: "Bitstream Vera Sans", Verdana, Tahoma, Arial, sans-serif;
}

#header
{
	background: #f6f6f6 url(../images/shadow.png) repeat-x bottom;
}

#header h1
{
	margin: 0;
	padding: 0.25em 0.5em;
	position: relative;
}

#header h1 a
{
	text-decoration: none;
	color: inherit;
	border: none;
}
#header h1 a:hover
{
	background: transparent;
}
/* header }}} */

/* topmenu {{{ */
ul.menu
{
	list-style: none;
	margin: 0;
	padding: 0;
}

ul#topmenu
{
	font-size: 10px;
	border: 1px #d3d3d3;
	border-style: solid none;
	float: left;
	width: 100%;
	background: #eeeeee;
	margin-top: 0.5em;
}

ul#topmenu li
{
	float: left;
	border-right: 1px solid #d3d3d3;
}

ul#topmenu li a
{
	display: block;
	padding: 2px 10px;
	border: none;
}

ul#topmenu li a:hover,
ul#topmenu li a.active,
ul#topmenu li strong
{
	/*background: #d3d3d3;*/
	/*color: black;*/
	text-decoration: none;
}

ul#topmenu li.separator
{
	margin-left: 0.5em;
	border-left: 1px solid #d3d3d3;
}

ul#topmenu li.right
{
	float: right;
}

/* }}} topmenu */

/* breadcrumb {{{ */
ul#breadcrumb
{
	font-size: 10px;
	margin: 0;
	padding: 0 1.2em;
	list-style: none;
	clear: both;
	position: relative;
	top: -40px;
	left: 20px;
}
ul#breadcrumb li
{
	display: inline;
	background: url(../images/arrow.gif) no-repeat left center;
	padding-left: 12px;
}
/* }}} breadcrumb */

/* body {{{ */
#body
{
	margin-top: -1em;
	padding: 0 1em;
	clear: both;
}

/* }}} body */

/* footer {{{ */
#footer
{
	border: 1px #d3d3d3;
	border-style: solid none;
	background: #eeeeee;
	padding: 0.5em 0.4em 0.8em 0.5em;
}

#footer a
{
	color: #a9a9a9;
}

#footer ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#footer a:hover
{
	background: transparent;
	text-decoration: none;
}
/* }}} footer */

/* copyrights {{{ */
ul#copyrights
{
	font-size: 70%;
}
/* }}} copyrights */

/* validators {{{ */
ul#validators
{
	float: right;
}

ul#validators li
{
	display: inline;
}
/* }}} validators */

a.secure
{
	background-image: url(../images/lock.gif);
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 7px;
}
a.secure:hover
{
	background-image: url(../images/locki.gif);
}

ul#topmenu li a.secure
{
	padding-left: 17px;
}

a.external
{
	background-image: url(../images/ext.gif);
	background-repeat: no-repeat;
	background-position: 80% center;
	padding-right: 7px;
}
a.external:hover
{
	background-image: url(../images/exti.gif);
}

ul#topmenu li a.external
{
	padding-right: 17px;
}
