body
{
	width: 80%;
}

#body h2
{
	font-size: 105%;
	margin: 1em 0;
}

#navigation h2
{
	margin: 0 0 0.5em 0;
}

#navigation
{
	float: left;
	width: 250px;
	margin-bottom: 1em;
}

#navigation ul
{
	margin: 0 0 1em 1.5em;
	padding: 0 0 0 0.1em;
	list-style: disc;
}

#navigation ul ul
{
	margin-left: 1.0em;
	margin-bottom: 0;
}

#contents
{
	margin-left: 250px;
}

#navigation ul li.active a
{
	font-weight: bold;
}
#navigation ul li.active li a
{
	font-weight: normal;
}

table
{
	border-collapse: collapse;
	border: none;
	margin: 0;
	padding: 0;
	width: 98%;
}
table td,
table th
{
	margin: 0;
	text-align: left;
	padding: 2px 4px;
	border-bottom: 1px solid #f6f6f6;
	vertical-align: top;
}
table tr.odd td
{
	background-color: #f6f6f6;
}

table th
{
	background: #eeeeee;
	border: 1px #d3d3d3;
	border-style: solid none;
	color: black;
}

dl dt
{
	float: left;
	font-weight: bold;
	width: 12em;
	line-height: 2em;
	clear: left;
	border-bottom: 1px solid #d3d3d3;
	padding: 0 0.4em;
}

dl dd
{
	margin-left: 12.2em;
	line-height: 2em;
	border-bottom: 1px solid #d3d3d3;
	padding: 0 0.4em;
}

dl dd.odd, dl dt.odd
{
	background: #eeeeee;
}

ul#topmenu li a.notimplemented
{
	text-decoration: line-through;
	color: #800000;
}

ol.contextMenu
{
	position: absolute;
	background: #f6f6f6;
	list-style: none;
	border: 1px solid #d3d3d3;
	margin: 0;
	padding: 0;
}

ol.contextMenu li a
{
	display: block;
	text-decoration: none;
	border: none;
	padding: 1px 5px 1px 20px;
	background: transparent no-repeat 2px center;
	font-size: 90%;
}
ol.contextMenu li a:hover
{
	background-color: #008000;
	color: white;
}
ol.contextMenu li.disabled
{
	display: none;
}


ol.contextMenu li.edit a
{
	background-image: url(../images/manage/edit.png);
}
ol.contextMenu li.remove a
{
	background-image: url(../images/manage/remove.png);
}
ol.contextMenu li.rename a
{
	background-image: url(../images/manage/rename.png);
}
ol.contextMenu li.cut a
{
	background-image: url(../images/manage/cut.png);
}
ol.contextMenu li.paste a
{
	background-image: url(../images/manage/paste.png);
}

ol.contextMenu li.separator
{
	border-top: 1px solid #d3d3d3;
	margin-top: 0.1em;
}
ol.contextMenu li.separator a
{
	margin-top: 0.1em;
}

#navigation ul li.cut a
{
	color: #d3d3d3;
}

#body .popupForm
{
	position: absolute;
	margin: 0;
	padding: 0;
	background: #f6f6f6;
	border: 1px solid #d3d3d3;
	font-size: 90%;
	width: 16em;
	display: none;
}
#body .popupForm h3
{
	margin: 0 0 0.5em 0;
	padding: 2px 4px;
	font-size: 100%;
	background-color: #eeeeee;
	border-bottom: 1px solid #d3d3d3;
}

#body .popupForm input
{
	border: 1px solid #cccccc;
	font-size: 90%;
}

#body .popupForm ol
{
	margin: 0.5em 1em;
}
#body .popupForm ol li
{
	margin: 0.5em 0;
}

#body .popupForm ol li input
{
	width: 98%;
}

#body .popupForm ol li input.reset,
#body .popupForm ol li input.submit
{
	width: 6em;
}

#body .popupForm ol li input.reset
{
	float: right;
}

#body .errorForm
{
	background: #ffcccc;
	border-color: #800000;
}

#body .errorForm p
{
	margin: 0.5em 1em;
	color: #800000;
}

#body .errorForm h3
{
	color: #ffcccc;
	background: #cc0000;
	border-color: #800000;
}
