body
{
	width: 80%;
}

#body h2
{
	font-size: 105%;
	margin: 1em 0;
}

#navigation h2
{
	margin: 0 0 0.5em 0;
}

#navigation
{
	float: left;
	width: 250px;
	margin-bottom: 1em;
}

#navigation ul
{
	margin: 0 0 1em 1.5em;
	padding: 0 0 0 0.1em;
	list-style: disc;
}

#navigation ul ul
{
	margin-left: 1.0em;
	margin-bottom: 0;
}

#contents
{
	margin-left: 250px;
}

#navigation ul li.active a
{
	font-weight: bold;
}
#navigation ul li.active li a
{
	font-weight: normal;
}

table
{
	border-collapse: collapse;
	border: none;
	margin: 0;
	padding: 0;
	width: 98%;
}
table td,
table th
{
	margin: 0;
	text-align: left;
	padding: 2px 4px;
	border-bottom: 1px solid #f6f6f6;
	vertical-align: top;
}
table tr.odd td
{
	background-color: #f6f6f6;
}

table th
{
	background: #eeeeee;
	border: 1px #d3d3d3;
	border-style: solid none;
	color: black;
}

dl
{
	border-bottom: 1px solid #d3d3d3;
}

dl dt
{
	float: left;
	font-weight: bold;
	width: 14em;
	line-height: 2em;
	clear: left;
	border-top: 1px solid #d3d3d3;
	padding: 0 0.4em;
	white-space: nowrap;
}

dl dd
{
	margin-left: 14.2em;
	line-height: 2em;
	border-top: 1px solid #d3d3d3;
	padding: 0 0.4em;
	white-space: nowrap;
}

dl dd.odd, dl dt.odd
{
	background: #eeeeee;
}

ul#topmenu li a.notimplemented
{
	text-decoration: line-through;
	color: #800000;
}

ol.contextMenu
{
	position: absolute;
	background: #f6f6f6;
	list-style: none;
	border: 1px solid #d3d3d3;
	margin: 0;
	padding: 0;
	display: none;
	overflow: hidden;
	_width: 10em;
	min-width: 10em;
}

ol.contextMenu li a
{
	display: block;
	text-decoration: none;
	border: none;
	padding: 1px 5px 1px 20px;
	background: transparent url(../images/manage/contextmenu.gif) no-repeat 2px center;
	font-size: 90%;
	_width: 100%;
}
ol.contextMenu li a:hover
{
	background: #008000 url(../images/manage/contextmenu.gif) no-repeat 2px center;
	color: white;
}
ol.contextMenu li.disabled
{
	display: none;
}


ol.contextMenu li.newTopic a,
ol.contextMenu li.newTopic a:hover
{
	background-position: 0 0px;
}
ol.contextMenu li.editTopic a,
ol.contextMenu li.editTopic a:hover
{
	background-position: 0 -16px;
}
ol.contextMenu li.removeTopic a,
ol.contextMenu li.removeTopic a:hover
{
	background-position: 0 -32px;
}

ol.contextMenu li.newArticle a,
ol.contextMenu li.newArticle a:hover
{
	background-position: 0 -48px;
}
ol.contextMenu li.editArticle a,
ol.contextMenu li.editArticle a:hover
{
	background-position: 0 -64px;
}
ol.contextMenu li.removeArticle a,
ol.contextMenu li.removeArticle a:hover
{
	background-position: 0 -80px;
}

ol.contextMenu li.newComment a,
ol.contextMenu li.newComment a:hover
{
	background-position: 0 -96px;
}
ol.contextMenu li.editComment a,
ol.contextMenu li.editComment a:hover
{
	background-position: 0 -112px;
}
ol.contextMenu li.removeComment a,
ol.contextMenu li.removeComment a:hover
{
	background-position: 0 -128px;
}


ol.contextMenu li.copyBuffer a,
ol.contextMenu li.copyBuffer a:hover
{
	background-position: 0 -144px;
}
ol.contextMenu li.cutBuffer a,
ol.contextMenu li.cutBuffer a:hover
{
	background-position: 0 -160px;
}
ol.contextMenu li.pasteBuffer a,
ol.contextMenu li.pasteBuffer a:hover
{
	background-position: 0 -176px;
}

ol.contextMenu li.separator
{
	border-top: 1px solid #d3d3d3;
	margin-top: 0.1em;
}
ol.contextMenu li.separator a
{
	margin-top: 0.1em;
}

#navigation ul li.cut a
{
	color: #d3d3d3;
}

#body .popupForm
{
	position: absolute;
	margin: 0;
	padding: 0;
	background: #f6f6f6;
	border: 1px solid #d3d3d3;
	font-size: 90%;
	width: 16em;
	display: none;
}
#body .popupForm h3
{
	margin: 0 0 0.5em 0;
	padding: 2px 4px;
	font-size: 100%;
	background-color: #eeeeee;
	border-bottom: 1px solid #d3d3d3;
}

#body .popupForm input
{
	border: 1px solid #cccccc;
	font-size: 90%;
}

#body .popupForm ol
{
	margin: 0.5em 1em;
}
#body .popupForm ol li
{
	margin: 0.5em 0;
}

#body .popupForm ol li input
{
	width: 98%;
}

#body .popupForm ol li input.reset,
#body .popupForm ol li input.submit
{
	width: 6em;
}

#body .popupForm ol li input.reset
{
	float: right;
}

#body .errorForm
{
	background: #ffcccc;
	border-color: #800000;
}

#body .errorForm p
{
	margin: 0.5em 1em;
	color: #800000;
}

#body .errorForm h3
{
	color: #ffcccc;
	background: #cc0000;
	border-color: #800000;
}

#body .itemList tr.ui-selected td,
#body .itemList tr.ui-selected td a
{
	background: #008000;
	color: white;
}

#body .itemList tr.ui-selecting td
{
	background: #eeeeee;
}

#body ul.controls
{
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 80%;
	_position: relative;
	_top: 10px;
}
#body ul.controls li
{
	display: inline;
}
#body ul.controls li a
{
	background-image: url(../images/manage/contextmenu.gif);
	background-repeat: no-repeat;
	padding: 5px 0 0 14px;
	_font-size: 12px;
	border: none;
}

#body ul.controls li a.new
{
	background-position: 0 0px;
}
#body ul.controls li a.edit
{
	background-position: 0 -16px;
}
#body ul.controls li a.remove
{
	background-position: 0 -32px;
}

table.itemList td .thumbnail
{
	display: none;
}

table.thumbList
{
	display: block;
}

table.thumbList td,
table.thumbList th,
table.thumbList tbody
{
	display: block;
	border: none;
}

table.thumbList thead
{
	display: none;
}

table.thumbList tbody
{
	width: 100%;
}

table.thumbList tr
{
	float: left;
	width: 150px;
	overflow: hidden;
	display: block;
	/*border-bottom: 1px solid #f6f6f6;*/
	padding: 0.5em;
}
table.thumbList td .thumbnail
{
	width: 120px;
	height: 120px;
	background: transparent no-repeat center center;
	display: block;
}

table.thumbList .filesize
{
	font-size: 80%;
	color: #a9a9a9;
}

table.thumbList .filedate,
table.thumbList .mimetype
{
	display: none;
}

table.thumbList tbody td small
{
	margin-left: 0;
}


ul.thumbList
{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 95%;
}

ul.thumbList li
{
	display: block;
	float: left;
	width: 120px;
	height: 180px;
	overflow: hidden;
	margin: 0 1.5em;
}

ul.thumbList li .thumbnail
{
	display: block;
	width: 120px;
	height: 120px;
	background: no-repeat center center;
}

ul.thumbList li small
{
	margin: 0;
	display: block;
}
ul.thumbList li var
{
	font-size: 80%;
	color: #d3d3d3;
	font-style: normal;
}

.table-view ul.thumbList,
.thumb-view table.itemList,
.thumb-view .table-title,
.table-view .thumb-title
{
	display: none;
}
.table-title,
.thumb-title
{
	font-style: normal;
}
